{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "add-module-exports",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-proposal-optional-chaining"
  ]
}